.currency-list-item {
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    transition: 0.3s;
    height: 2.4rem;
    background: #eeeeee;
    cursor: pointer;
  }
  a {
    color: #6b524c;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

li {
  list-style: none;
}
